<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Даров, <%= @user.name %></h1>
    <p>
		Спс за регистрацию. 
      	Код подтверждения: <%= $email_code %>
    </p>
  </body>
</html>