body {
	margin: 0;
}
.container-fluid {
  margin-top: 100px;
}

.title {
	color: white;
}

.creator {
	font-size: 13px;
	font-weight: 100;
}

.was-created {
	font-size: 13px;
	font-weight: lighter;
}
